body{
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: sans-serif;
}
.main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 350px;;
}
.main h1{
    font-family: cursive;
    margin: 0 0 200px;
    color: whitesmoke;
    text-align: center;
}
.main input{
    padding: 10px 0;
}
.main textarea{
    background-color: #ffffff00;
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
    color: whitesmoke;
}
.main input,
.main textarea{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 40px;
}
.main input[type="submit"]{
    border-bottom: none;
    border-radius: 200px;
    box-shadow: 0 0 5px;
    cursor: pointer;
    background: black;
    color: #F7F8F8;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Georgia Pro;
}
.main form{
    position: relative;
    bottom: 100px;
}
.main form label{
    position: absolute;
    top: 30px;
    left: 0;
    transition: .5s;
    color: whitesmoke;
    pointer-events: none;
}
.main input:focus ~ label,
.main textarea:focus ~ label,
.main input:valid ~ label,
.main textarea:valid ~ label{
    top: -12px;
    left: 0;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
}
.icons{
    text-align: left;
    position: relative;
    top: 500px;
    transform: translate(45%,50%);
}
.classes{
  text-align: center;
  position: absolute;
  left: 50px;
  top: 50px;
  width: 50px;
  color: black;
}
.icons_p{
  position: absolute;
  background-color: whitesmoke;
  width: 130px;
  border: 15px solid whitesmoke;
  padding-bottom: 100px;
  text-align: center;
  box-shadow: 0 0 15px;
}
