<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>new web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="main">
            <h1>Text Classification</h1>
            <form action="{{ url_for('predict')}}" method="post">
                <textarea name="comment" required> </textarea>
                <label for="texts">Enter some text</label>
                <br>
                <input type="submit" name="" value="Predict">
            </form>

        </div>
        <div class="icons">
          {% if img_file %}
            <p class="icons_p">Predicted class:</p>
              <div  class="classes">
                  <img  src="{{img_file}}" alt="svg not found">
                  <p class="names">{{img_name}}
          {% endif %}
              </div>

        </div>


    </body>

</html>
